#form-mcf {
	margin-top: 20px;
	height: 600px;
	/* height: auto; */
	margin-bottom: 100px;
}

#form-mcf input[type="file"] {
	position: relative;
}

@media screen and (min-width: 1170px) {
    #form-mcf .detail-member-desc {
        margin-left: 20%;
        font-size: 1.3em;
        margin-bottom: 40px;
    }
}
