.label-img {
	display: inline-block;
	padding: 15px 0 0;
	cursor: pointer;
	z-index: 1000;
	top: -70px;
	position: relative;
	width: 250px;
	height: 70px;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	text-align: center;
	transition: all .4s ease;
}

.label-img:hover {
	background-color: rgba(0,0,0,.2);
	transition: all .4s ease;
}

#form-mcf img {
	position: relative;
}

input[type="file"] {
	display: none;
}

#form-mcf input[type="text"],
#form-mcf input[type="email"] {
	height: 40px;
	font-size: 1.2em;
}

#form-mcf input[type="radio"] {
	vertical-align: middle;
}

.btn-flat {
	border-radius: 0;
}

.btn-form {
	height: 100px;
	width: 250px;
	vertical-align: middle;
	/*font-size: 1.5em;*/
}

.frm-button {
	/*text-align: center;*/
}

#form-mcf span.fa {
	float: left;
	position: relative;
}

span.btn-desc {
	text-transform: uppercase;
	vertical-align: middle;
	/*float: right;*/
	text-align: center;
}

#form-mcf {
	padding-top: 20px;
	height: 600px;
	/* height: auto; */
	margin-bottom: 100px;
	background-color: #fafafa;
}

#form-mcf .radio-1 {
	display: inline-block;
	float: left;
}

@media screen and (min-width: 1170px) {
    #form-mcf .detail-member-desc {
        margin-left: 20%;
        font-size: 1.3em;
        margin-bottom: 40px;
    }
}
