@media screen and (max-width: 1243px) {
	.navbar-header {
		margin-left: 100px;
	}
}

@media screen and (max-width: 1120px) {
	.navbar-brand-mini {
		display: block;
	}

	.header-logo {
		display: none;
	}
}

@media screen and (min-width: 1170px) {
    
    ul.nav.navbar-nav {

    }
}

@media (min-width: 780px) and (max-width: 1120px) {
	.container-fluid > .navbar-header {
		margin-left: 10px;
	}

	.navbar-brand-mini, .navbar-brand {
		display: none;
	}
}

@media (min-width: 1120px) and (max-width: 1170px) {
	.container-fluid > .navbar-header {
		margin-left: 50px;
	}
}

@media (max-width: 768px) {

}

@media (min-width: 780px) {

}

@media (min-width: 780px) {
	.navbar-nav {
		float: right !important;
	}

	.nav > li > a {
	    padding: 30px 33.5px;
	}
}

@media (max-width: 1070px) {
	.separator {
		display: none;
	}
}

@media (min-width: 1070px) {
	
}

@media (max-width: 990px) {
	#myCarousel div.item div.row {
		text-align: center;
	}

	#myCarousel div.item div.row img {
		margin-left: auto;
		margin-right: auto;	
	}
}